@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", serif;
  background-color: #f7f7f7;
}

/* common styles */

.max-width {
  max-width: 80%;
  margin: 0 auto;
}
.text_orange {
  color: #fea301;
}

.text_blue {
  color: #01acfd;
}
.bg_blue {
  background-color: #01acfd;
}
.text_skyblue {
  color: #05d4df;
}
.text_purple {
  color: #5d58ef;
}
.display_flex {
  display: flex;
  align-items: center;
}

.text_black {
  color: #111111;
}
.text_dark {
  color: #202020;
}
.bg_black {
  background-color: #111111;
}
.bg_orange {
  background-color: #fea301;
}
.button {
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s all ease;
}

a {
  text-decoration: none;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.linier_blue {
  background: linear-gradient(to bottom, #def5ff 10px, #fff 100px);
  border: 0.5px solid #def5ff;
}
.linier_orange {
  background: linear-gradient(to bottom, #fff4dc 10px, #fff 100px);
  border: 0.5px solid #fff4dc;


}
.linier_purple {
  background: linear-gradient(to bottom, #f2e8ff 10px, #fff 100px);
  border: 0.5px solid #f2e8ff;

}

.blue_btn_bg {
  background-color: #05d4df;
}

.green_btn_bg {
  background-color: #95b226;
}

.purple_btn_bg {
  background-color: #5d58f0;
}

/* Nav Styles  */

header {
}
.hambarger {
  display: none;
}

nav {
  justify-content: space-between;
  padding: 20px 0px;
  width: 90%;
}

nav .nav_logo {
  gap: 5px;
}

.nav_logo h2 {
  font-size: 1.8rem;
  color: #111111;
}

nav .nav_menu ul {
  gap: 30px;
}
.nav_menu ul li {
  list-style: none;
}

.nav_menu ul li a {
  font-weight: 600;
}

.nav_btn button:hover {
  background-color: #db8b00;
}

/* Banner Styles  */

.banner_section {
  justify-content: space-between;
}

.banner_content .banner_title {
  font-size: 3.2rem;
}

.banner_content {
  width: 60%;
  margin-top: 20px;
}
.banner_content h3,
p,
.banner_btn {
  margin-bottom: 20px;
}
.banner_content p {
  width: 90%;
}
.banner_image {
  width: 40%;
}
.banner_image img {
  width: 100%;
}

.banner_btn button:hover {
  background-color: #2a2a2a;
}

/* Curriculum Section  */

.curriculum_section {
  background-image: url(../assets/bg.png);
  padding-top: 50px;
  background-size: contain;
}

.curriculum_card {
  justify-content: space-between;
}

.curriculum_card .card {
  width: 30%;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 20px;
  padding-top: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
  margin-top: 50px;
}

.card p {
  color: #202020;
  font-size: 0.9rem;
  width: 95%;
}
.card a {
  font-size: 0.9rem;
}

.curriculum_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 60px;
}

/* Stories Style  */

.stories_section_container {
  background: url(../assets/bg.png),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 229, 184));
  background-size: contain;
  padding-bottom: 50px;
}
.stories_section {
  margin-top: 80px;
}
.stories_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.stories_card .card {
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.stories_card .card img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#first_story_card {
  grid-column: span 2;
  grid-row: span 2;
}

#first_story_card h2 {
  font-size: 1.5rem;
}

.story_card_content {
  padding: 20px;
}

.story_card_content h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.story_card_content p {
  line-height: 25px;
}

.stories_btn {
  text-align: center;
  margin-top: 50px;
}
.stories_btn button {
  padding: 10px 35px;
}
.stories_btn button:hover {
  background-color: #2a2a2a;
}
.story_btn button {
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  font-size: 0.8rem;
  font-family: "Raleway", serif;
  position: absolute;
  margin-left: 22px;
  margin-top: -24px;
  color: #fff;
}

#first_story_card .story_btn button {
  position: absolute;
  padding: 13px 17px;
  margin-left: 45px;
  margin-top: -45px;
}

/* Footer Styles  */

footer {
  padding: 50px;
}
.footer_container {
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.footer_container > div {
  width: 30%;
  color: white;
}

.footer_logo {
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.footer_logo img {
  width: 100%;
  margin-left: -11px;
}
.footer_logo_container {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.footer_logo_container p {
  font-size: 1rem;
  width: 100%;
}

.footer_about h3 {
  margin-bottom: 7px;
  margin-left: -30px;
  font-size: 1.3rem;
}

.footer_about ul li {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer_socials {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer_socials .social_icons {
  margin-top: 20px;
}

.footer_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_socials h3 {
  font-size: 1.3rem;
}

/* Marque Styles  */

.marquee_section {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.marquee_container {
  width: 100%;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 0px;
  overflow: hidden;
}
.marquee_content {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Mobile Responsive Styles  */

@media screen and (max-width: 576px) {
  /* nav styles  */
  .max-width {
    max-width: 90%;
    margin: 0 auto;
  }
  .nav_container {
    border-bottom: 0.5px solid #fea301;
    box-shadow: 5px 0px 10px rgb(235, 235, 235);
    background-color: white;
  }
  .hambarger {
    display: block;
  }
  .hambarger img {
    width: 40px;
  }

  .nav_menu {
    display: none;
  }
  .nav_logo h2 {
    display: none;
  }
  .nav_logo img {
    width: 50px;
  }

  .nav_btn {
    display: none;
  }

  /* Banner Styles */

  .banner_section {
    flex-direction: column-reverse;
  }
  .banner_content {
    width: 100%;
    text-align: center;
  }
  .banner_content .banner_title {
    font-size: 1.8rem;
    text-align: center;
  }

  .banner_title .br {
    display: none;
  }
  .banner_content p {
    margin: 10 auto;
    width: 100%;
  }
  .banner_image {
    width: 100%;
  }

  /* Curriculum Section  */
  .curriculum_section {
    width: 100%;
    height: auto;
  }
  
  .title {
    font-size: 1.7rem;
  }

  .curriculum_card {
    flex-direction: column;
    gap: 10px;
  }
  .curriculum_card .card {
    width: 100%;
  }
  .curriculum_arrow {
    display: none;
  }

  /* Stories Styes  */

  .stories_section_container {
    width: 100%;
    margin-top: 30px;
  }
  .banner_section {
    width: 100%;
    background-size: cover;
  }

  #first_story_card {
    display: none;
  }
  .stories_card {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .story_card_content {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .story_card_content h2 {
    font-size: 0.8rem;
    width: 100%;
    margin: 0px;
  }
  .story_btn button {
    font-size: 0.7rem;
    padding: 7px 10px;
    margin-left: 19px;
    margin-top: -22px;
  }
  .stories_btn {
    margin-top: 30px;
  }

  /* Footer Styles  */

  .footer_container {
    flex-direction: column;
    gap: 40px;
  }

  .footer_container > div {
    width: 100%;
  }
  .footer_about {
    justify-content: start;
    align-items: start;
  }
  .footer_about h3 {
    margin-left: 0;
  }
  footer {
    padding: 15px;
  }
}

/* Tab/Tablet Responsive Styles  */

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .nav_menu ul {
    justify-content: center;
  }
  .nav_logo h2 {
    display: none;
  }
  .banner_content .banner_title {
    font-size: 1.8rem;
  }

  .stories_card{
  grid-template-columns: repeat(1, 1fr);

  }

  .story_btn button {
    font-size: 0.7rem;
    padding: 8px 10px;
    margin-left: 19px;
    margin-top: -22px;
  }
  #first_story_card .story_btn button {
    margin-top: -45px;
    margin-left: 0px;
  }

  footer {
    padding: 15px;
  }
}
